body {
    /*background-image: url('https://placehold.co/1920x1080');*/
    background-color: rgb(0, 173, 181);
    background-size: cover;
    background-position: center;
    font-family: 'Arial', sans-serif;
    transition: margin-left 0.3s;
    color: #cb2828;
}
.top-bar{
    color: #040404;
}
.top-button {
    transition: transform 0.2s;
}

.top-button:hover {
    transform: scale(1.1);
}

.sidebar {
    width: 250px;
    position: fixed;
    top: 60px; /* Adjusted to start below the top bar */
    left: -250px; /* Initially hidden */
    height: calc(100% - 60px); /* Full height minus the top bar height */
    background-color: rgba(0, 0, 0, 0.8);
    padding-top: 20px; /* Adjusted padding */
    transition: left 0.2s ease;
}


.sidebar h2 {
    margin-top: 20px; /* Added margin to move the header down */
}

.sidebar a {
    padding: 10px 20px;
    text-decoration: none;
    font-size: 14px;
    color: white;
    display: block;
    transition: background 0.3s, transform 0.3s;
}

.sidebar a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transform: scale(1.00);
}

.content {
    margin-left: 0; /* No margin initially */
    padding: 80px 20px 20px; /* Added top padding to avoid overlap with the top bar */
}

.open-sidebar {
    left: 0; /* Show sidebar */
}

.open-content {
    margin-left: 250px; /* Space for the sidebar */
}

.activity-section {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 0; /* No rounded corners */
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    display: flex; /* Flexbox for side-by-side layout */
    align-items: center; /* Center items vertically */
}

.activity-section img {
    width: 200px; /* Fixed width for images */
    height: auto;
    border-radius: 8px;
    margin-right: 20px; /* Space between text and image */
}

h1, h2 {
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

.sub-category {
    display: none;
}

.category:hover .sub-category {
    display: block;
}

.search-container {
    position: relative;
    display: inline-block;
    margin-left: 20px; /* Adjust as needed */
}

.search-input {
    width: 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: width 0.4s ease;
    opacity: 0; /* Hide initially */
    color: #333; /* Change this to your desired text color */
    background-color: #fff; /* Optional: Change background color */
}

.search-button {
    background-color: #007bff; /* Button color */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    margin-left: 5px;
}

.search-container.active .search-input {
    width: 200px; /* Width when active */
    opacity: 1; /* Show when active */
}