
    /* General Styling */
    body {
      background-color: #ECF0F1; /* Light gray */
      background-image: url('wordgame.jpg');
      background-size: cover;
      color: #2C3E50; /* Deep Blue Gray */
    }

    h1 {
      color: #2C3E50; /* Deep Blue Gray */
      text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
    }

    #scrambled {
      background-color: #3498DB; /* Sky Blue */
      color: #ffffff;
    }

    #guess {
      background-color: #ffffff;
      border: 2px solid #2C3E50;
      color: #2C3E50;
    }

    #timer{
      color: #050403;
    }

    #result {
      color: #27AE60; /* Bright Green */
    }

    #wrong {
      color: #E74C3C; /* Vibrant Red */
    }

    #finalScore {
      color: #050403; /* Golden Yellow */
    }

    #gameOver {
      color: #2C3E50; /* Deep Blue Gray */
    }

    button {
      border: none;
    }

    .btn-success {
      background-color: #27AE60; /* Bright Green */
      color: #ffffff;
    }

    .btn-success:hover {
      background-color: #1E8449; /* Darker Green */
    }

    .btn-danger {
      background-color: #E74C3C; /* Vibrant Red */
      color: #ffffff;
    }

    .btn-danger:hover {
      background-color: #C0392B; /* Darker Red */
    }

    .btn-secondary {
      background-color: #3498DB; /* Sky Blue */
      color: #ffffff;
    }

    .btn-secondary:hover {
      background-color: #1F618D; /* Darker Blue */
    }
  